extends ../blocks/layout
block content
  - let {autoMod, chatBot, notifier, roles, logChannels} = guildSettings;
  - let guildPrefix = guildSettings.prefix;
  - let {enableAutoMod, chListMode, channelsList, urlBlacklist, mediaTrackers} = autoMod;
  - let {enableChatBot, chatBotOpts, chatChannels} = chatBot;
  - let {enableNotifier, trackEvents, notifsChannel, eventMsgTxt} = notifier;
  .container
    include ../blocks/guild-nav
    block navtab
      - var activeTab = 'manage'  
    .jumbotron.text-center
      h3.display-4 Guild Settings
      .settings-card-base
        h3 Bot Control Panel
        .settings-card-modules.settings-card-wrapper
          h4 Guild Details
          .guild-details-card
            h5 Basic Information
            - iconUrl = (guild.icon) ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` : 'https://via.placeholder.com/128.png?text=No Guild Icon'
            - bannerUrl = (guild.banner) ? `https://cdn.discordapp.com/banners/${guild.id}/${guild.banner}.png` : 'https://via.placeholder.com/288x162.png?text=No Guild Banner'
            img.d-flex.mr-3.rounded-circle.guild-icon(src=iconUrl alt='Guild Icon')
            img.guild-banner(src=bannerUrl)
            .guild-details-wrapper
              p
              | Name: #{guild.name}
              br
              #hidden (ID: #{guild.id})
              | Verified: #{(guild.verified)?'Yes':'No'}
              br
              | Guild Prefix: '#{(guildPrefix) ? guildPrefix : bot.options.globalPrefix}'
              br
              | Owner: #{guild.members.cache.get(guild.ownerId).user.tag}
              br
              | Members: #{guild.memberCount} (#{guild.members.cache.filter(member => !member.user.bot).size} users | #{guild.members.cache.filter(member => member.user.bot).size} bots)
              br
              | Locale: #{guild.preferredLocale}
              
          .guild-details-card
            h5 Server Details
            .guild-details-wrapper
              h6 Description
              p
              | #{(guild.description)?guild.description:'None Set'}
            .guild-details-wrapper
              h6 Subscriptions
              p
              | Boost Tier: #{guild.premiumTier}
              | (Total Subs: #{guild.premiumSubscriptionCount})
              br
              | Vanity URL
              br 
              | Code: 
              if (guild.vanityURLCode)
                #hidden #{guild.vanityURLCode}
                | (Used #{(guild.vanityURLUses)?guild.vanityURLUses:'NaN'} times)
              else
                | (Not available)
        .settings-card-modules.settings-card-wrapper
          h4 Guild Settings
          p.lead Change settings for each module from here.
          .settings-card-modules.guild-details-card
            h5 Server Settings
            .settings-text-wrapper
              h6 Server Roles (WIP)
              table.settings-table-main(border="1")
                tr
                  th Role Type
                  th No. of Roles
                tr
                  td Staff Roles
                  td #{(roles.staff) ? `${roles.staff.length} roles set` : 'Not set'}
                tr
                  td Mute Role                  
                  td #{(roles.mute) ? 'Role set!' : 'Not set'}
            .settings-text-wrapper
              h6 Log Channels (WIP)
              table.settings-table-main(border="1")
                tr
                  th Log Type
                  th Enabled?
                tr
                  td Bot System Logs
                  td #{(logChannels.botLogChID) ? 'Yes' : 'No'}
                tr
                  td Moderation Logs
                  td #{(logChannels.modLogChID) ? 'Yes' : 'No'}
                tr
                  td Suggestion Logs
                  td #{(logChannels.suggestChID) ? 'Yes' : 'No'}
                tr
                  td Support Tickets
                  td #{(logChannels.ticketsChID) ? 'Yes' : 'No'}
            button.btn.btn-light.edit-settings(data-bs-toggle='modal' data-bs-target='#settingGuildStaffRolesModal') Edit 
              i.fas.fa-edit
          .settings-card-modules.settings-card-block            
            h5 Auto Moderation
            .settings-text-wrapper
              | Enabled? #{(enableAutoMod)?'Yes':'No'}
              br
              | Channel List Mode: #{(chListMode) ? (chListMode === 'whitelist') ? 'Whitelist' : 'Blacklist' : 'Not Set!'}
              br
              | Media Removal
              br
              | Animated Gifs: #{(mediaTrackers.removeGifs) ? 'Yes' : 'No'}
              br
              | Static Images: #{(mediaTrackers.removeImgs) ? 'Yes' : 'No'}
              br
              | Links/URLs: #{(mediaTrackers.removeUrls) ? 'Yes' : 'No'}
            table.settings-table-main(border="1")
              tr
                th Setting
                th Value
              tr
                td Channels List
                td #{(channelsList) ? `${channelsList.length} channels set` : 'N/A'}
              tr
                td URL Blacklist
                td #{(urlBlacklist) ? `${urlBlacklist.length} urls blocked` : 'N/A'}
            br
            button.btn.btn-light.edit-settings(data-bs-toggle='modal' data-bs-target='#settingAutoModBotModal') Edit 
              i.fas.fa-edit
          .settings-card-modules.settings-card-block
            h5 Bot Notifications
            .settings-text-wrapper
              | Enabled? #{(notifier.enableNotifier)?'Yes':'No'}
              br
              | Event Trackers
              br
              | Join: #{(trackEvents.join) ? 'Yes' : 'No'}
              br
              | Leave: #{trackEvents.leave ? 'Yes' : 'No'}
              br
              | Kick: #{trackEvents.kick ? 'Yes' : 'No'}
              br
              | Ban: #{trackEvents.ban ? 'Yes' : 'No'}
              br
              | Notifs Channel: #{(notifsChannel && notifsChannel.length > 0) ? `#${bot.channels.cache.get(notifsChannel).name}` : 'Not Set!'}
            table.settings-table-main(border="1")
              tr
                th Event
                th Message
              tr
                td Join
                td #{(eventMsgTxt && eventMsgTxt.joinMsg.length > 0) ? eventMsgTxt.joinMsg : 'Not set!'}
              tr
                td Leave
                td #{(eventMsgTxt && eventMsgTxt.leaveMsg.length > 0) ? eventMsgTxt.leaveMsg : 'Not set!'}
              tr
                td Kick
                td #{(eventMsgTxt && eventMsgTxt.kickMsg.length > 0) ? eventMsgTxt.kickMsg : 'Not set!'}
              tr
                td Ban
                td #{(eventMsgTxt && eventMsgTxt.banMsg.length > 0) ? eventMsgTxt.banMsg : 'Not set!'}
            br
            button.btn.btn-light.edit-settings(data-bs-toggle='modal' data-bs-target='#settingBotNotifsModal') Edit 
              i.fas.fa-edit
          .settings-card-modules.settings-card-block
            h5 Smart Chat Bot
            .settings-text-wrapper
              | Enabled? #{(chatBot.enableChatBot)?'Yes':'No'}
              br
              | ChatBot Settings
              br
              | Name: #{(chatBotOpts.botName) ? chatBotOpts.botName : 'Not set!'}
              br
              | Gender: #{(chatBotOpts.botGender) ? chatBotOpts.botGender[0].toUpperCase() + chatBotOpts.botGender.substring(1) : 'Not set!'}
            table.settings-table-main(border="1")
              tr
                th Chat Channels
              tr
                td #{(chatChannels) ? (typeof chatChannels === 'string') ? `Monitoring 1 chat channel` : `Monitoring ${chatChannels.length} channels` : 'N/A'}
            br
            button.btn.btn-light.edit-settings(data-bs-toggle='modal' data-bs-target='#settingSmartChatBotModal') Edit 
              i.fas.fa-edit

        .settings-card-modules.danger-block
          h4 Danger Zone
          - disableAction
          p.lead Beware, these are destructive actions!
            .settings-card-wrapper(style="width: auto; margin-left: 2px;margin-right: 2px;")
              h5 Reset Settings
              a.btn.btn-outline-danger(data-bs-toggle='modal' data-bs-target='#settingsResetModal' role='button') RESET
            .settings-card-wrapper(style="width: auto; margin-left: 2px;margin-right: 2px;")
              h5 Leave Guild
              a.btn.btn-outline-danger(data-bs-toggle='modal' data-bs-target='#serverLeaveModal' role='button') LEAVE
        include ../blocks/guild-manage-modals