extends ../blocks/layout
block content
  -function formatDate(dateString){
    -var date = new Date(dateString);
    -var days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];
    -var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    -var d = days[date.getDay()];
    -var D = date.getDate();
    -var m = months[date.getMonth()];
    -var y = date.getFullYear();
    -var H = date.getHours();
    -var M = date.getMinutes(); M = (M < 9) ? `0${M}` : M;
    -var S = date.getSeconds(); S = (S < 9) ? `0${S}` : S;
    -var a = D % 10, b = D % 100;
    -var nth = `${(a == 1 && b != 11) ? 'st' : (a == 2 && b != 12) ? 'nd' : (a == 3 && b != 13) ? 'rd' : 'th'}`;    
    -return `${d} ${D}${nth} ${m} ${y} at ${H}:${M}`;
  -}
  .container
    include ../blocks/guild-nav
    block navtab
      - var activeTab = 'members'
    .jumbotron.text-center
      h3.display-4 Guild Members
      p.lead
      | There are currently #{guild.members.cache.filter(member => !member.user.bot).size} users and #{guild.members.cache.filter(member => member.user.bot).size} bots in this guild!
      br
      | NB: You cannot kick/ban yourself or the bot, this has been disabled to prevent errors, there is no way to override this.
      p
      | Status Icons: 
      i.fas.fa-check-circle(style="color:#0fa840")
      | !{' '}- Online 
      i.fas.fa-moon(style="color:#faa61a")
      | !{' '}- Idle/Away 
      i.fas.fa-minus-circle(style="color:#f04747")
      | !{' '}- Do Not Disturb 
      i.fas.fa-question-circle(style="color:#665f53")
      | !{' '}- Invisble 
      i.fas.fa-circle(style="color:#747f8d")
      | !{' '}- Offline 
      br
      | Device Icons: 
      i.fas.fa-mobile-alt 
      | !{' '}- Mobile (Android/IOS) 
      i.fas.fa-desktop 
      | !{' '}- Desktop (Win/Mac/Linux) 
      i.fas.fa-globe 
      | !{' '}- Web (Browser/Cloud*) 
      br
      | *'Cloud' refers to BOT users only.
      br
      include ../blocks/guild-member-modals
      - var memberPos = 0;
      each member in members
        .member-card#member-card
          img.member-avatar(src=member.user.displayAvatarURL({ dynamic: true, size: 64 }) alt="Discord Avatar" onerror="this.onerror=null;this.src=member.user.defaultAvatarURL")
          .member-actions
            .btn-group-vertical(role='group' aria-label='Basic example')
              - var userCheck = (member.user.id===bot.user.id || member.user.id===user.id) ? "disabled" : "" 
              button.btn.btn-outline-warning(class=userCheck data-bs-toggle='modal' data-bs-target='#memberKickModal' data-bs-memberid=member.user.id  type='button') KICK
              button.btn.btn-outline-danger(class=userCheck data-bs-toggle='modal' data-bs-target='#memberBanModal' data-bs-memberid=member.user.id type='button') BAN
          p
          | #{member.displayName}
          br
          | (#{member.user.tag})
          br        
          | Created #{formatDate(member.user.createdAt)}
          br
          | Joined #{formatDate(member.joinedAt)}
          br
          | Bot User: #{(member.user.bot) ? 'Yes' : 'No'}
          br
          | Status: 
          if (member.presence)
            if (member.presence.status === 'online')
              i.fas.fa-check-circle(style="color:#0fa840")
            if (member.presence.status === 'idle')
              i.fas.fa-moon(style="color:#faa61a")
            if (member.presence.status === 'dnd')
              i.fas.fa-minus-circle(style="color:#f04747")
            if (member.presence.status === 'offline')
              i.fas.fa-question-circle(style="color:#665f53")
            if (!member.presence.status || member.presence.status === undefined)
              i.fas.fa-question-circle(style="color:#9c5d16")
            if (member.presence.clientStatus)
              | !{' | '}
              if (member.presence.clientStatus.mobile)
                i.fas.fa-mobile-alt
              if (member.presence.clientStatus.desktop)
                i.fas.fa-desktop
              if (member.presence.clientStatus.web)
                i.fas.fa-globe
            if (!member.presence.clientStatus)
              | !{' | '}
              i.far.fa-question-circle
          else
            i.fas.fa-circle(style="color:#747f8d")
          br
          | Activity Info
          br
          - var pos = 0;
          if (member.presence)
            each activity in (member.presence.activities.length) ? member.presence.activities : ['No Activity']
              - pos = pos + 1;
              if (activity === 'No Activity')
                | No Activity Data
                br
                |
                if (pos <= member.presence.activities.length) 
                  br
              if (activity.type === 'PLAYING')
                | Playing #{activity.name}
                br
                | #{(activity.details) ? `- ${activity.details}` : ''}
                if (pos <= member.presence.activities.length) 
                  br
              if (activity.type === 'WATCHING')
                | Watching #{activity.name}
                br
                | #{(activity.details) ? `- ${activity.details}` : ''}
                if (pos <= member.presence.activities.length) 
                  br
              if (activity.type === 'LISTENING')
                | Listening to #{activity.name}
                br
                | #{(activity.details) ? `- ${activity.details}` : ''}
                if (pos <= member.presence.activities.length) 
                  br
              if (activity.type === 'STREAMING')
                | Streaming at #{activity.url}
                br
                | #{(activity.details) ? `- ${activity.details}` : ''}
                if (pos <= member.presence.activities.length) 
                  br
              if (activity.type === 'CUSTOM_STATUS')
                | "#{activity.state}"
                br
                |
                if (pos <= member.presence.activities.length) 
                  br
          else
            | No Presence Data