extends ../blocks/layout
block content
  - var {announcerSettings, autoModSettings, chatBotSettings, botLogSettings, modLogSettings} = settings

  .container
    include ../blocks/guild-nav
    block navtab
      - var activeTab = 'manage'  
    .jumbotron.text-center
      h3.display-4 #{guild.name} Settings
      p.lead
      | This part of the dashboard is not yet completed and may not be functional. 
      br
      | You&apos;ll have to use the commands in the meantime to change Cora's settings.
      br
      | Sorry about that. - Nova Lynxie
      .settings_card_base
        h3 Bot Control Panel
        .settings_card_modules.settings_card_wrapper
          h4 All Module Status
          .settings_card_status
            h5 Main Modules
            table.settings_table_main(border="1")
              tr
                th Module Name
                th Enabled?
              tr
                td AutoNotify
                if (!announcerSettings)
                  td Unknown
                if (announcerSettings.enableNotifier)
                  td Yes
                if (!announcerSettings.enableNotifier)
                  td No
              tr
                td ChatBot
                if (!chatBotSettings)
                  td Unknown
                if (chatBotSettings.enableAutoChat)
                  td Yes
                if (!chatBotSettings.enableAutoChat)
                  td No
              tr
                td ModBot
                if (!autoModSettings)
                  td Unknown
                if (autoModSettings.enableAutoMod)
                  td Yes
                if (!autoModSettings.enableAutoMod)
                  td No
          .settings_card_status
            h5 Logging Modules
            table.settings_table_main(border="1")
              tr
                th Module Name
                th Enabled?
              tr
                td Bot Logger
                if (!botLogSettings)
                  td Unknown
                if (botLogSettings.enableBotLogger)
                  td Yes
                if (!modLogSettings.enableBotLogger)
                  td No
              tr
                td Mod Logger
                if (!modLogSettings)
                  td Unknown
                if (modLogSettings.enableModLogger)
                  td Yes
                if (!modLogSettings.enableModLogger)
                  td No
        .settings_card_modules.settings_card_wrapper
          h4 Module Settings
          p.lead Change settings for each module from here. (WIP - Read Only for now)
          .settings_card_modules
            h5 Bot Notifications
            .settings_text_wrapper
              | Enabled? #{(announcerSettings.enableNotifier)?'Yes':'No'}
              br
              | Event Settings
              br
              | Join: #{(announcerSettings.events.join)?'Enabled':'Disabled'}
              br
              | Leave: #{(announcerSettings.events.leave)?'Enabled':'Disabled'}
              br
              | Kick: #{(announcerSettings.events.kick)?'Enabled':'Disabled'}
              br
              | Ban: #{(announcerSettings.events.ban)?'Enabled':'Disabled'}
            table.settings_table_main(border="1")
              tr
                th Event Type
                th Message
              tr
                td Join
                td #{announcerSettings.eventMessages.userJoin}
              tr
                td Leave
                td #{announcerSettings.eventMessages.userLeave}
              tr
                td Kick
                td #{announcerSettings.eventMessages.userKick}
              tr
                td Ban
                td #{announcerSettings.eventMessages.userBan}
          .settings_card_modules
            h5 Auto Moderation
            .settings_text_wrapper
              | Enabled? #{(autoModSettings.enableAutoMod)?'Yes':'No'}
              br
              | Media Removal
              br
              | Animated Gifs: #{(autoModSettings.mediaOptions.removeGifs)?'Yes':'No'}
              br
              | Static Images: #{(autoModSettings.mediaOptions.removeImgs)?'Yes':'No'}
              br
              | Links/URLs: #{(autoModSettings.mediaOptions.removeUrls)?'Yes':'No'}
            table.settings_table_main(border="1")
              tr
                th Setting
                th Value
              tr
                td Channels List
                td #{(autoModSettings.channelsList.length >=1)? autoModSettings.channelsList.join(', ') : 'No Channels Set'}
              tr
                td URL Blacklist
                td #{(autoModSettings.urlBlacklist.length >=1)? autoModSettings.urlBlacklist.join(', ') : 'No Channels Set'}        
          .settings_card_modules
            h5 Smart Chat Bot
            .settings_text_wrapper
              | Enabled? #{(chatBotSettings.enableAutoChat)?'Yes':'No'}
              br
            table.settings_table_main(border="1")
              tr
                th Chat Channels
              tr
                td #{(chatBotSettings.chatChannels.length >=1)? chatBotSettings.chatChannels.join(', ') : 'No Channels Set'}
        .settings_card_modules.danger_block
          h4 Danger Zone
          p.lead Beware, these are destructive actions!
            .settings_card_wrapper(style="width: auto; margin-left: 2px;margin-right: 2px;")
              h5 Reset Settings
              a.btn.btn-block.btn-outline-danger(data-bs-toggle='modal' data-bs-target='#settingsResetModal' role='button') RESET
            .settings_card_wrapper(style="width: auto; margin-left: 2px;margin-right: 2px;")
              h5 Leave Guild
              a.btn.btn-block.btn-outline-danger(data-bs-toggle='modal' data-bs-target='#serverLeaveModal' role='button') LEAVE
        include ../blocks/guild-modals