include ../blocks/header
include ../blocks/navbar

-function formatDate(dateString){
  -var date = new Date(dateString);
  -var d = date.getDate(dateString);
  -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var H = date.getHours();
  -var M = date.getMinutes(); M = (M < 9) ? `0${M}` : M
  -var S = date.getSeconds(); S = (S < 9) ? `0${S}` : S
  -return d+' '+m+' '+y+' at '+H+':'+M+':'+S;
-}

.container
  include ../blocks/guild-nav
  block navtab
    - var activeTab = 'members'    
  .jumbotron.text-center
    h3.display-4 #{guild.name} Members (WIP)
    p.lead
    | This is a list of all members currently in the guild. If some intents are missing or not enabled, you will only see ONLINE users listed here.
    br
    p There are currently #{guild.members.cache.filter(member => !member.user.bot).size} users and #{guild.members.cache.filter(member => member.user.bot).size} bots in this guild!
    each member in members
      .member_card
        img.member_avatar(src=member.user.displayAvatarURL({ dynamic: true, size: 64 }) alt="Discord Avatar" onerror="this.onerror=null;this.src=member.user.defaultAvatarURL")
        p
        | Name: #{member.displayName}
        br
        | Tag: (#{member.user.tag})
        br
        | Status: 
        if (member.user.presence.status === 'online')
          i.fas.fa-check-circle(style="color:#42b581")
          | !{' '}Online
        if (member.user.presence.status === 'idle')
          i.fas.fa-question-circle(style="color:#faa61a")
          | !{' '}Idle
        if (member.user.presence.status === 'dnd')
          i.fas.fa-minus-circle(style="color:#f04747")
          | !{' '}Do Not Disturb
        if (member.user.presence.status === 'offline')
          i.fas.fa-circle(style="color:#747f8d")
          | !{' '}Offline
        if (!member.user.presence.status || member.user.presence.status === undefined)
          | Status: N/A
        br
        | Activity: #{(member.user.presence.activities==='') ? member.user.presence.activities : 'None'}
        br
        - var defaultRole = guild.roles.cache.get(guild.id);
        - var memberRoles = member.roles.cache
        - memberRoles.filter(role => role.id !== defaultRole.id)
        - memberRoles.sort((a, b) => b.position - a.position)
        - memberRoles.map(role => role.name)        
        | Roles: #{memberRoles.length} #{(memberRoles.length) ? memberRoles.join(', ') : "None"}
        br
        | Created #{formatDate(member.user.createdAt)}
        br
        | Joined #{formatDate(member.joinedAt)}
        br
        | Bot User: #{(member.user.bot) ? 'Yes' : 'No'}
    
include ../blocks/footer