include ../blocks/header
include ../blocks/navbar

-function formatDate(dateString){
  -var date = new Date(dateString);
  -var d = date.getDate(dateString);
  -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var H = date.getHours();
  -var M = date.getMinutes(); M = (M < 9) ? `0${M}` : M
  -var S = date.getSeconds(); S = (S < 9) ? `0${S}` : S
  -return d+' '+m+' '+y+' at '+H+':'+M+':'+S;
-}

.container
  include ../blocks/guild-nav
  block navtab
    - var activeTab = 'members'    
  .jumbotron.text-center
    h3.display-4 #{guild.name} Members (WIP)
    p.lead
    | This is a list of all members currently in the guild. If some intents are missing or not enabled, you will only see ONLINE users listed here.
    br
    p There are currently #{guild.members.cache.filter(member => !member.user.bot).size} users and #{guild.members.cache.filter(member => member.user.bot).size} bots in this guild! (Bot for Dashboard is hidden)
    - var memberIDs = members.map(member => member.user.id)
    include ../blocks/guild-modals
    - var memberPos = 0;
    each member in members
      if (member.user.id !== bot.user.id)
      .member_card#member_card
        img.member_avatar(src=member.user.displayAvatarURL({ dynamic: true, size: 64 }) alt="Discord Avatar" onerror="this.onerror=null;this.src=member.user.defaultAvatarURL")
        p
        | Name: #{member.displayName}
        br
        | Tag: (#{member.user.tag})
        br
        | Status: 
        if (member.user.presence.status === 'online')
          i.fas.fa-check-circle(style="color:#42b581")
          | !{' '}Online
        if (member.user.presence.status === 'idle')
          i.fas.fa-question-circle(style="color:#faa61a")
          | !{' '}Idle
        if (member.user.presence.status === 'dnd')
          i.fas.fa-minus-circle(style="color:#f04747")
          | !{' '}Do Not Disturb
        if (member.user.presence.status === 'offline')
          i.fas.fa-circle(style="color:#747f8d")
          | !{' '}Offline
        if (!member.user.presence.status || member.user.presence.status === undefined)
          | Status: N/A
        br
        each activity in (member.user.presence.activities.length) ? member.user.presence.activities : ['No Activity']
          if (activity === 'No Activity')
            | No Activity
            br
          else
            | #{(activity.type) ? activity.type : 'NO DATA'}
            br
            | #{activity} #{(activity.details) ? `- ${activity.details}` : ''}
        br
        | Created #{formatDate(member.user.createdAt)}
        br
        | Joined #{formatDate(member.joinedAt)}
        br
        | Bot User: #{(member.user.bot) ? 'Yes' : 'No'}
        br
        .btn-group.btn-block(role='group' aria-label='Basic example')
          button.btn.btn-outline-warning(class=(member.user.id===bot.user.id) ? "disabled" : "" data-bs-toggle='modal' data-bs-target='#memberKickModal' data-bs-memberid=member.user.id  type='button') KICK
          button.btn.btn-outline-danger(class=(member.user.id===bot.user.id) ? "disabled" : "" data-bs-toggle='modal' data-bs-target='#memberBanModal' data-bs-memberid=member.user.id type='button') BAN


include ../blocks/footer