include ../blocks/header
include ../blocks/navbar

-function formatDate(dateString){
  -var date = new Date(dateString);
  -var d = date.getDate(dateString);
  -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var H = date.getHours();
  -var M = date.getMinutes(); M = (M < 9) ? `0${M}` : M
  -var S = date.getSeconds(); S = (S < 9) ? `0${S}` : S
  -return d+' '+m+' '+y+' at '+H+':'+M+':'+S;
-}

.container
  include ../blocks/guild-nav
  block navtab
    - var activeTab = 'members'    
  .jumbotron.text-center
    h3.display-4 #{guild.name} Members (WIP)
    p.lead
    | This is a list of all members currently in the guild. If some intents are missing or not enabled, you will only see ONLINE users listed here.
    br
    p There are currently #{guild.members.cache.filter(member => !member.user.bot).size} users and #{guild.members.cache.filter(member => member.user.bot).size} bots in this guild!
    each member in members
      .member_card
        img.member_avatar(src=member.user.displayAvatarURL({ dynamic: true, size: 64 }) alt="Discord Avatar" onerror="this.onerror=null;this.src=member.user.defaultAvatarURL")
        p
        | Username: #{member.user.tag}
        br
        | Nickname: #{member.displayName}
        br
        | Created #{formatDate(member.user.createdAt)}
        br
        | Joined #{formatDate(member.joinedAt)}
        br
        if (member.user.presence.status === 'online')
          | Status: 
          i.fas.fa-check-circle 
          | !{' '}Online
        if (member.user.presence.status === 'idle')
          | Status: 
          i.fas.fa-question-circle 
          | !{' '}Idle
        if (member.user.presence.status === 'dnd')
          | Status: 
          i.fas.fa-minus-circle 
          | !{' '}Do Not Disturb
        if (member.user.presence.status === 'offline')
          | Status: 
          i.fas.fa-circle 
          | !{' '}Offline
        if (!member.user.presence.status || member.user.presence.status === undefined)
          | Status: N/A
        br 
        | Bot User: #{(member.user.bot) ? 'Yes' : 'No'}
    
include ../blocks/footer