extends blocks/layout
block content
  .container
    .jumbotron
      h1.display-3 User Profile
      p.lead Your user profile page.
      - console.log(user)
      - avatarURL = `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}`
      - bannerURL = (user.banner) ? `https://cdn.discordapp.com/banners/${user.id}/${user.banner}` : (user.banner_color) ? `https://via.placeholder.com/960x540/${user.banner_color.replace('#','')}/ffffff.png?text=${user.username}#${user.discriminator}` : `https://via.placeholder.com/960x540//ffffff.png?text=${user.username}#${user.discriminator}`
      .profile-card
        .div(style='position: relative;')
          img.profile-banner(src=bannerURL)
          //img.profile-banner(src=bannerURL style=`border-color:${(user.accent_color) ? user.accent_color.toString(16) : ''}`)
          img.d-flex.mr-3.rounded-circle.profile-avatar(src=avatarURL)
        p.lead
          | Username: #{user.username}!{'#'}#{user.discriminator}
          br
          | Account type: #{(isAdmin) ? 'Admin' : 'User'}
          br
          | MFA/2FA Enabled? #{(user.mfa_enabled) ? 'Yes' : 'No'}
          br
          | Locale: #{locales[user.locale]}