// All settings variables for handling settings data.
- enableAutoMod = (autoMod.enableAutoMod) ? 'on' : 'off';
- enableChatBot = (chatBot.enableChatBot) ? 'on' : 'off';
- enableNotifier = (notifier.enableNotifier) ? 'on' : 'off';
//- enableBotLogs = (botLogSettings.enableBotLogs) ? 'on' : 'off';
//- enableModLogs = (modLogSettings.enableModLogs) ? 'on' : 'off';

// Guild specific information
- channelData = guild.channels.cache.filter(ch => ch.type === 'GUILD_TEXT');
- textChannels = Object.fromEntries(channelData);
- textLogsChs1 = Object.fromEntries(channelData);
- textLogsChs2 = Object.fromEntries(channelData);
- textLogsChs3 = Object.fromEntries(channelData);
// Manage Page Modals (Edit Settings)
#settingGuildStaffRolesModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='#settingGuildStaffRolesModalLabel' aria-hidden='true')
  form(action=`/dashboard/${guild.id}/manage`, method='POST')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#settingGuildStaffRolesModalLabel.modal-title Edit Settings - Server Settings
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          legend.modal-legend Role Management
          .form-group
            label.form-label.mt-4(for='staffRoles') 
              | Staff Roles (WIP)
              br
              | Select the roles to use below by using ctrl + left click
            select#chatChannels.form-select(multiple='' name='staffRoles')
              each role in guildRoles
                if (roles.staff.indexOf(role.id) > -1)
                  option(value=role.id selected='') #{role.name}
                else
                  option(value=role.id) #{role.name}
            label.form-label.mt-4(for='staffRoles') 
              | Mute Role (WIP)
              br
              | Select the role to use for the muting the user with.
            select#chatChannels.form-select(name='muteRole')
              each role in guildRoles
                if (roles.staff.indexOf(role.id) > -1)
                  option(value=role.id selected='') #{role.name}
                else
                  option(value=role.id) #{role.name}
            label.form-label.mt-4(for='botLogChID') 
              | Bot Generic Logs (WIP)
              br
              | Select the channel for bot logs to be output into.
            select#chatChannels.form-select(name='botLogChID')
              if (!logChannels.botLogChID) 
                option(value='' selected='') (not set)
              else
                option(value='') (not set)
              for channel in textChannels                
                if (logChannels.botLogChID === channel.id)
                  option(value=channel.id selected='') #{channel.name}
                else
                  option(value=channel.id) #{channel.name}
              
            label.form-label.mt-4(for='modLogChID') 
              | Moderation Logs (WIP)
              br
              | Select the channel for mod logs to be output into.
            select#chatChannels.form-select(name='modLogChID')
              if (!logChannels.modLogChID) 
                option(value='' selected='') (not set)
              else
                option(value='') (not set)
              for channel in textChannels                
                if (logChannels.modLogChID === channel.id)
                  option(value=channel.id selected='') #{channel.name}
                else
                  option(value=channel.id) #{channel.name}
            label.form-label.mt-4(for='suggestChID') 
              | Suggestion Logs (WIP)
              br
              | Select the channel for suggestions to be output into.
            select#chatChannels.form-select(name='suggestChID')
              if (!logChannels.suggestChID) 
                option(value='' selected='') (not set)
              else
                option(value='') (not set)
              for channel in textChannels
                if (logChannels.suggestChID === channel.id)
                  option(value=channel.id selected='') #{channel.name}
                else
                  option(value=channel.id) #{channel.name}
        .modal-footer
          button.btn.btn-outline-dark(type='button' data-bs-dismiss='modal') CANCEL
          button.btn.btn-outline-primary(type='submit' value="Submit") SAVE CHANGES 
            i.fas.fa-save(aria-hidden='true')
#settingAutoModBotModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='#settingAutoModBotModalLabel' aria-hidden='true')
  form(action=`/dashboard/${guild.id}/manage`, method='POST')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#settingAutoModBotModalLabel.modal-title Edit Settings - Auto Moderation
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          label.form-label.mt-4 Enable/Disable Module
          .form-check
            label.form-check-label
              if (enableAutoMod==='on')
                input#optionsRadios1.form-check-input(type='radio' name='enableAutoMod' value='on' checked='')
                | Enable
              else
                input#optionsRadios1.form-check-input(type='radio' name='enableAutoMod' value='on')
                | Enable
          .form-check
            label.form-check-label
              if (enableAutoMod==='off')
                input#optionsRadios2.form-check-input(type='radio' name='enableAutoMod' value='off' checked='')
                | Disable
              else 
                input#optionsRadios2.form-check-input(type='radio' name='enableAutoMod' value='off')
                | Disable
          label.form-label.mt-4 Channel List Mode
          .form-check
            label.form-check-label
              if (autoMod.chListMode==='whitelist')
                input#optionsRadios1.form-check-input(type='radio' name='chListMode' value='whitelist' checked='')
                | Whitelist
              else
                input#optionsRadios1.form-check-input(type='radio' name='chListMode' value='whitelist')
                | Whitelist
          .form-check
            label.form-check-label
              if (autoMod.chListMode==='blacklist')
                input#optionsRadios2.form-check-input(type='radio' name='chListMode' value='blacklist' checked='')
                | Blacklist
              else 
                input#optionsRadios2.form-check-input(type='radio' name='chListMode' value='blacklist')
                | Blacklist
          .form-group
            label.form-label.mt-4(for='channelsList') 
              | Channels List
              br
              | Select the channels below by using ctrl + left click
            select#chatChannels.form-select(multiple='' name='channelsList')
              for channel in textChannels
                if (channelsList.indexOf(channel.id) > -1)
                  option(value=channel.id selected='') #{channel.name}
                else
                  option(value=channel.id) #{channel.name}
          .form-group
            label.form-label.mt-4(for='urlBlacklist') 
            | URLs Blacklist
            br
            | These can be generalised or specific URLs.       
            br
            | Example URLs: i.imgur.com/, www.tenor.com/, etc.
            input#urlBlacklist.form-control(type='text' name='urlBlacklist' value=autoMod.urlBlacklist.join(" ") )
          label.form-label.mt-4
          | Media Removal Settings
          .form-check.form-switch
            if (autoMod.mediaTrackers.removeGifs)
              input#removeGifsSwitch.form-check-input(type='checkbox' name='removeGifs' checked='')
              label.form-check-label(for='removeGifsSwitch') Remove Gifs?
            else
              input#removeGifsSwitch.form-check-input(type='checkbox' name='removeGifs')
              label.form-check-label(for='removeGifsSwitch') Remove Gifs?
          .form-check.form-switch
            if (autoMod.mediaTrackers.removeImgs)
              input#removeImgsSwitch.form-check-input(type='checkbox' name='removeImgs' checked='')
              label.form-check-label(for='removeImgsSwitch') Remove Images?
            else
              input#removeImgsSwitch.form-check-input(type='checkbox' name='removeImgs')
              label.form-check-label(for='removeImgsSwitch') Remove Images?
          .form-check.form-switch
            if (autoMod.mediaTrackers.removeVids)
              input#removeVidsSwitch.form-check-input(type='checkbox' name='removeVids' checked='' disabled='')
              label.form-check-label(for='removeVidsSwitch') Remove Videos? (EXPERIMENTAL)
            else
              input#removeVidsSwitch.form-check-input(type='checkbox' name='removeVids' disabled)
              label.form-check-label(for='removeVidsSwitch') Remove Videos? (EXPERIMENTAL)
          .form-check.form-switch
            if (autoMod.mediaTrackers.removeUrls)
              input#removeUrlsSwitch.form-check-input(type='checkbox' name='removeUrls' checked='')
              label.form-check-label(for='removeUrlsSwitch') Remove Links/URLs?
            else
              input#removeUrlsSwitch.form-check-input(type='checkbox' name='removeUrls')
              label.form-check-label(for='removeUrlsSwitch') Remove Links/URLs?
        .modal-footer
          button.btn.btn-outline-dark(type='button' data-bs-dismiss='modal') CANCEL
          button.btn.btn-outline-primary(type='submit' value="Submit") SAVE CHANGES 
            i.fas.fa-save(aria-hidden='true')
#settingBotNotifsModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='#settingSmartChatBotModalLabel' aria-hidden='true')
  form(action=`/dashboard/${guild.id}/manage`, method='POST')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#settingBotNotifsModalLabel.modal-title Edit Settings - Bot Notifications
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          label.form-label.mt-4 Enable/Disable Module
          .form-check
            label.form-check-label
              if (enableNotifier==='on')
                input#optionsRadios1.form-check-input(type='radio' name='enableNotifier' value='on' checked='')
                | Enable
              else
                input#optionsRadios1.form-check-input(type='radio' name='enableNotifier' value='on')
                | Enable
          .form-check
            label.form-check-label
              if (enableNotifier==='off')
                input#optionsRadios2.form-check-input(type='radio' name='enableNotifier' value='off' checked='')
                | Disable
              else 
                input#optionsRadios2.form-check-input(type='radio' name='enableNotifier' value='off')
                | Disable
          label.form-label.mt-4 Event Tracking Settings
          .form-check.form-switch
            if (notifier.trackEvents.join)
              input#userJoinToggle.form-check-input(type='checkbox' name='userJoin' checked='')
              label.form-check-label(for='userJoinToggle') Track User Joins?
            else
              input#userJoinToggle.form-check-input(type='checkbox' name='userJoin')
              label.form-check-label(for='userJoinToggle') Track User Joins?
            br
            if (notifier.trackEvents.leave)
              input#userLeaveToggle.form-check-input(type='checkbox' name='userLeave' checked='')
              label.form-check-label(for='userLeaveToggle') Track User Leaves?
            else
              input#userLeaveToggle.form-check-input(type='checkbox' name='userLeave')
              label.form-check-label(for='userLeaveToggle') Track User Leaves?
            br
            if (notifier.trackEvents.kick)
              input#userKickToggle.form-check-input(type='checkbox' name='userKick' checked='')
              label.form-check-label(for='userKickToggle') Track User Kicked?
            else
              input#userKickToggle.form-check-input(type='checkbox' name='userKick')
              label.form-check-label(for='userKickToggle') Track User Kicked?
            br
            if (notifier.trackEvents.ban)
              input#userBanToggle.form-check-input(type='checkbox' name='userBan' checked='')
              label.form-check-label(for='userBanToggle') Track User Banned?
            else
              input#userBanToggle.form-check-input(type='checkbox' name='userBan')
              label.form-check-label(for='userBanToggle') Track User Banned?
          .form-group
            label.form-label.mt-4(for='notifsChannel') Notifications Channel
            select#notifsChannel.form-select(name='notifsChannel')
              for channel in textChannels
                if (notifier.notifsChannel === channel.id)
                  option(value=channel.id selected='') #{channel.name}
                else
                  option(value=channel.id) #{channel.name}
          .form-group
            label.form-label.mt-4(for='joinMessage')
              | Join Message
              br
              | Syntax: @user (mention user)
            input#joinMessage.form-control(type='text' value=notifier.eventMsgTxt.joinMsg)
          .form-group
            label.form-label.mt-4(for='leaveMessage') 
              | Leave Message
              br
              | Syntax: @user (mention user)
            input#leaveMessage.form-control(type='text' value=notifier.eventMsgTxt.leaveMsg)
          .form-group
            label.form-label.mt-4(for='kickMessage')
              | Kick Message
              br
              | Syntax: @user (mention user)
            input#kickMessage.form-control(type='text' value=notifier.eventMsgTxt.kickMsg)
          .form-group
            label.form-label.mt-4(for='banMessage') 
              | Ban Message
              br
              | Syntax: @user (mention user)
            input#banMessage.form-control(type='text' value=notifier.eventMsgTxt.banMsg)
        .modal-footer
          button.btn.btn-outline-dark(type='button' data-bs-dismiss='modal') CANCEL
          button.btn.btn-outline-primary(type='submit' value="Submit") SAVE CHANGES 
            i.fas.fa-save(aria-hidden='true')
#settingSmartChatBotModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='#settingSmartChatBotModalLabel' aria-hidden='true')
  form(action=`/dashboard/${guild.id}/manage`, method='POST')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#settingSmartChatBotModalLabel.modal-title Edit Settings - Chat Bot
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
            label.form-label.mt-4 Enable/Disable Module
            .form-check
              label.form-check-label
                if (enableChatBot==='on')
                  input#optionsRadios1.form-check-input(type='radio' name='enableChatBot' value='on' checked='')
                  | Enable
                else
                  input#optionsRadios1.form-check-input(type='radio' name='enableChatBot' value='on')
                  | Enable
            .form-check
              label.form-check-label
                if (enableChatBot==='off')
                  input#optionsRadios2.form-check-input(type='radio' name='enableChatBot' value='off' checked='')
                  | Disable
                else 
                  input#optionsRadios2.form-check-input(type='radio' name='enableChatBot' value='off')
                  | Disable
            - chatBotOpts = chatBot.chatBotOpts
            label.form-label.mt-4(for='chatBotName') 
            | Name
            input#chatBotName.form-control(type='text' name='botName' value=chatBot.chatBotOpts.botName)
            .form-check
              label.form-check-label
              if (chatBotOpts.botGender==='male')
                  input#optionsRadios2.form-check-input(type='radio' name='botGender' value='male' checked='')
                  | Male
              else
                input#optionsRadios2.form-check-input(type='radio' name='botGender' value='male')
                | Male
            .form-check
              label.form-check-label
              if (chatBotOpts.botGender==='female')
                  input#optionsRadios2.form-check-input(type='radio' name='botGender' value='female' checked='')
                  | Female
              else 
                input#optionsRadios2.form-check-input(type='radio' name='botGender' value='female')
                | Female
            .form-group
              label.form-label.mt-4(for='chatChannels') 
                | Chat Channels
                br
                | Select the channels below by using ctrl + left click
              select#chatChannels.form-select(multiple='' name='chatChannels')
                for channel in textChannels
                  if (chatBot.chatChannels.indexOf(channel.id) > -1)
                    option(value=channel.id selected='') #{channel.name}
                  else
                    option(value=channel.id) #{channel.name}
        .modal-footer
          button.btn.btn-outline-dark(type='button' data-bs-dismiss='modal') CANCEL
          button.btn.btn-outline-primary(type='submit' value="Submit") SAVE CHANGES 
            i.fas.fa-save(aria-hidden='true')
// Manage Page Modals (Danger Zone)
#serverLeaveModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='serverLeaveModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#serverLeaveModalLabel.modal-title Leave Server?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        p
          | Are you sure you want #{bot.user.username} to leave this server?
      .modal-footer
        button.btn.btn-outline-dark(type='button' data-bs-dismiss='modal') CANCEL
        a.btn.btn-outline-danger(href=`/dashboard/${guild.id}/leave` role='button') LEAVE
#settingsResetModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='settingsResetModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#settingsResetModalLabel.modal-title Reset Settings?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        p
          | Are you sure you want to reset to the default settings?
      .modal-footer
        button.btn.btn-outline-dark(type='button' data-bs-dismiss='modal') CANCEL
        a.btn.btn-outline-danger(href=`/dashboard/${guild.id}/reset` role='button') RESET
