extends blocks/layout
block content
  - var {enableAutoMod, enableChatBot, enableNotifier, enableBotLogs, enableModLogs} = clSettings;
  .container
    h1.display-3 Admin Dashboard
    p.lead Welcome back Admin #{user.username}!
    p
    | This dashboard lists all of the guilds the bot is currently connected to, even ones you may not be in. From here, you can change the guild's settings remotely even if you are not in that particular guild!
    | To adjust the settings for any of the servers this bot is linked to, click the 'Manage' button next to it's name.
    br
    | If you cannot see any servers listed here, then there may have be an error processing the guild data. Please try reloading this page or relogging. In the event it still not appear, please contact my developer for help.

    ul.list-unstyled
    - var guilds = Object.fromEntries(bot.guilds.cache)

    for guild in guilds
      li.media(style='padding: 10px;')
        if (guild.icon)
          - iconUrl = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128`
          img.d-flex.mr-3.rounded-circle(src=iconUrl style='width: 80px;' alt='')
        else
          canvas.d-flex.mr-3.rounded-circle(style='background-color: #7289da' id=guild.name.split(' ').join('').replace("'", "") width='80px' height='80px')
          script(src="public/javascripts/drawCanvas.js")
        .media-body
          h5.mt-0.mb-1 #{guild.name}
          - var href, text;
          - var enabled;
          if(bot.guilds.cache.get(guild.id)) 
            - href = `/dashboard/${guild.id}/manage`;
            - text = "Manage";
            - enabled = true;
          else
            - href = `https://discordapp.com/oauth2/authorize?client_id=${bot.application.id}&scope=bot&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(config.callbackURL)}`;
            - text = "Invite Bot";
            - enabled = bot.application.botPublic;
          a.btn.btn-primary(class=(!enabled)?'btn-lg-disabled':'btn-lg-enabled' role='button' href=href) #{text} 
            if (text==="Manage")
              i.fas.fa-tasks
            else
              i.fas.fa-sign-in-alt

    include blocks/admin-modals

    div.danger-block
      h3 Admin Controls
      p.lead 
      | Warning! These controls will affect ALL instances of this bot. Do not use these unless absolutely necessary.
      
      br
      div(style="display:inline-block; width: auto; margin: 5px;")
        h5 Bot Settings
        a.btn.btn-outline-danger(data-bs-toggle='modal' data-bs-target='#clientSettingsModal' role='button') OPEN SETTINGS
      br
      div(style="display:inline-block; width: auto; margin: 5px;")
        h5 Reset Database
        a.btn.btn-outline-danger(data-bs-toggle='modal' data-bs-target='#resetDatabaseModal' role='button') RESET DATABASE