include blocks/header
include blocks/navbar

.container
  .jumbotron
    h1.display-3 Dashboard
    p.lead Welcome back #{user.username}!
    p
    | To adjust the settings for your server, click the 'Manage' button next to it's name. If you would like to add this bot to your server, click the 'Invite' button next to its name. 
    br
    | Should you not see the server's name here, make sure you have the Manage Guild permission or ask someone with this permission to login to the dashboard to do it for you.
    ul.list-unstyled

    for guild in user.guilds
      - var permsOnGuild = new perms(guild.permissions);
      if (permsOnGuild.has("MANAGE_GUILD"))
        li.media(style='padding: 10px;')
          if (guild.icon)
            - iconUrl = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128`
            img.d-flex.mr-3.rounded-circle(src=iconUrl style='width: 80px' alt='')
          else
            canvas.d-flex.mr-3.rounded-circle(style='background-color: #7289da' id=guild.name.split(' ').join('').replace("'", "") width='80px' height='80px')
            script(src="public/javascripts/drawCanvas.js")
          .media-body
            h5.mt-0.mb-1 #{guild.name}
            - var href, text;
            - var enabled;
            if(bot.guilds.cache.get(guild.id)) 
              - href = `/dashboard/${guild.id}/manage`;
              - text = "Manage";
              - enabled = true;
            else
              - href = `https://discordapp.com/oauth2/authorize?client_id=${bot.application.id}&scope=bot&permissions=808844406&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(config.dashboard.callbackURL)}`;
              - text = "Invite Bot";
              - enabled = bot.application.botPublic;
            a.btn.btn-primary(class=(!enabled)?'btn-lg-disabled':'btn-lg-enabled' role='button' href=href) #{text}
          
include blocks/footer