include blocks/header

div.jumbotron
  .row.justify-content-md-center
    .col-5.text-nowrap
      i.fa.fa-fw.fa-server(aria-hidden='true')
      |  Servers:
    .col-5.text-nowrap
      strong #{stats.servers}
  .row.justify-content-md-center
    .col-5.text-nowrap
      i.fa.fa-fw.fa-clock-o(aria-hidden='true')
      |  Uptime:
    .col-5.text-nowrap
      strong #{stats.uptime}
  .row.justify-content-md-center
    .col-5.text-nowrap
      i.fa.fa-fw.fa-users(aria-hidden='true')
      |  Members:
    .col-5.text-nowrap
      strong #{stats.members}
  .row.justify-content-md-center
    .col-5.text-nowrap
      i.fa.fa-fw.fa-tasks(aria-hidden='true')
      |  Memory:
    .col-5.text-nowrap
      strong #{stats.memoryUsage}
  .row.justify-content-md-center
    .col-5.text-nowrap
      i.fa.fa-fw.fa-hashtag(aria-hidden='true')
      |  Text Channels:
    .col-5.text-nowrap
      strong #{stats.text}
  .row.justify-content-md-center
    .col-5.text-nowrap
      i.fa.fa-fw.fa-microphone(aria-hidden='true')
      |  Voice Channels:
    .col-5.text-nowrap
      strong #{stats.voice}
  .row.justify-content-md-center
    .col-5.text-nowrap
      i.fa.fa-fw.fa-cogs(aria-hidden='true')
      |  Discord.js Version:
    .col-5.text-nowrap
      strong #{stats.discordVer}
  .row.justify-content-md-center
    .col-5.text-nowrap
      i.fa.fa-fw.fa-cog(aria-hidden='true')
      |  Node.js Version:
    .col-5.text-nowrap
      strong #{stats.nodeVer}
